---
import { generateWhatsAppLink } from "../utils/whatsApp";
import { links } from "./Data";

const hrefWhatsApp = generateWhatsAppLink(
  "573187866592",
  "Hola ! Quiero mi ticket para DSTEV Sessions #2"
);
---

<header
  class="flex justify-between items-center py-5 w-full px-5 lg:px-32 xl:px-40"
>
  <a
    href="https://www.instagram.com/__arkhes/"
    class="hover:scale-110 transition-transform duration-300"
  >
    <img
      src="/icons/MainIcon.png"
      class="h-12 sm:h-16 fill-current text-black"
      alt="Santiago Salas Bolaños Logo"
    />
  </a>

  <nav class="flex flex-row gap-x-5 text-base md:text-xl">
    <a
      class={`text-3d transition-transform duration-300 ease-in-out transform hover:scale-110 text-white font-semibold`}
      href={"#lineUp"}
      aria-disabled={"false"}
    >
      Line Up
    </a>
    <a
      class={`text-3d transition-transform duration-300 ease-in-out transform hover:scale-110 text-white font-semibold`}
      href={hrefWhatsApp}
      aria-disabled={"false"}
      target="_blank"
    >
      Tickets
    </a>
  </nav>
</header>
