---
import { links } from "./Data";
---

<header
  class="flex justify-between items-center py-5 w-full px-5 lg:px-32 xl:px-40"
>
  <a
    href="https://www.instagram.com/__arkhes/"
    class="hover:scale-110 transition-transform duration-300"
    target="_blank"
  >
    <img
      src="/icons/MainIcon.png"
      class="h-8 sm:h-10 fill-current text-black"
      alt="Santiago Salas Bolaños Logo"
    />
  </a>

  <nav class="flex flex-row gap-x-4 text-base md:text-xl">
    {
      links.map((link) => (
        <a
          class={`text-3d transition-transform duration-300 ease-in-out transform ${link.disabled ? "cursor-not-allowed text-gray-500" : "hover:scale-110 transition-transform duration-300 text-white"} font-semibold`}
          href={link.disabled ? undefined : link.href}
          aria-disabled={link.disabled ? "true" : "false"}
          tabindex={link.disabled ? -1 : undefined}
          target="_blank"
        >
          {link.text}
        </a>
      ))
    }
  </nav>
</header>
