---
import { ticketsNotAvailable } from "./Data";
import TicketsButton from "./TicketsButton.astro";
---

<main
  class="flex items-center justify-center min-h-screen"
  style="display: flex; align-items: center; justify-content: center; height: 100vh; margin-top: -10vh;"
>
  <div class="flex flex-col items-center justify-center w-full">
    <div
      class="flex flex-col items-center justify-center rounded-3xl overflow-hidden p-5 bg-opacity-40 bg-stone-950 text-center text-3d"
    >
      <img
        src="/icons/DSTEV2.png"
        class="h-20 sm:h-40 fill-current text-black"
        alt="DSTEV Logo"
      />
      <p
        class="text-2xl text-[#ff0000] sm:text-5xl drop-shadow-md font-cygnito"
      >
        30 de Junio - 1537
      </p>
    </div>
    <TicketsButton
      phoneNumber="573187866592"
      message="Hola ! Quiero comprar mi ticket para DSTEV Sessions #2 | Immersive Experience, por favor 👽"
      isNotAvailable={ticketsNotAvailable}
      text="Comprar Tickets"
    />
  </div>
</main>
