---
import LiteYoutube from "./LiteYoutube.astro";
---

<section class="py-4 px-4 mb-4 sm:py-20 sm:px-20 md:py-20 md:px-40">
  <p class="mx-auto text-white text-xl sm:text-4xl text-center text-3d">
    Revive DSTEV Sessions 1°
  </p>

  <div class="relative mt-6">
    <LiteYoutube
      videoId="WfHtsOuH71Y"
      title="DSTEV Sessions #1"
      backgroundImage="/images/DSTEVSessions1.webp"
    />
  </div>
</section>
